body {
  width: 380px;
  font-family: Arial;
  text-align: center;
  padding: 10px;
}

.video-container {
  position: relative;
  margin-top: 10px;
}

video {
  width: 100%;
}

#overlayTimer {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,0.7);
  color: #00ff99;
  padding: 6px 10px;
  font-weight: bold;
  border-radius: 6px;
}

.controls button {
  margin: 5px;
  padding: 6px 12px;
}

#laps {
  text-align: left;
  max-height: 120px;
  overflow-y: auto;
}
